*{
    margin: 0;
    padding: 0;
}
h1, p{
    color: rgb(88, 18, 18);
    border: 1px solid black;
    padding: 5px 2px;
}
.selected{
    font-weight: bold;
}
#top{
    transform: rotate(180deg);
}
:root{
     font-size: 20 px;
}
p:hover{
    cursor: pointer;
    text-decoration: underline;
}
p::first-letter{
    color: blue
    ;
}
div p{
    border: 1px solid black;
}
.menu{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.menu div{
    margin: auto;
}